name: Deploy Next.js Frontend to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy project to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "."
          target: "/opt/docker/FoodStockMate-Frontend"

      - name: Build and restart container on VPS
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /opt/docker/FoodStockMate-Frontend
            docker stop foodstockmate-frontend || true
            docker rm foodstockmate-frontend || true
            docker build -t foodstockmate-frontend .
            docker run -d -p 3000:3000 --name foodstockmate-frontend foodstockmate-frontend
